/* ****************BASE.CSS*********************/

* {
  margin: 0;
  padding: 0;
}

body {
  background: RGB(0, 0, 33);
  font-family: 'Poppins', sans-serif;
  color: white;
  z-index: -1;
  overflow-x:hidden;
}

a {
  cursor:pointer;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
  text-decoration:none;
}
a:focus,a:hover,a:active{
color:silver;
}
nav {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: RGB(18, 18, 62);
  z-index: 3;
  position: relative;
  font-size: 30px;
}

nav .brand {
cursor:pointer;
  font-weight: 700;
  font-size: 2vw;
  z-index: 4;
}

nav ul {
width:200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

nav ul li {
	font-size:20px !important;
  list-style: none;
  padding: 3%;

}

@media (min-width: 769px) {
  nav ul li:hover,
  nav ul li:focus {
    background: white;
    color: black;
    border-radius: 7px;
  }
}

footer {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  position: relative;
}

footer ul,
footer .copy {
  display: flex;
  justify-content: center;
}

footer .copy {
  font-size: 12px;
}

footer ul li {
  list-style: none;
  margin: 0 8px;
  font-size: 15px;
}

footer ul i {
  margin: 0 10px;
}

.menu-btn {
  display: none;
}

nav .menu-btn i {
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  a:active {
    outline: none;
  }

  nav {
    display: flex;
    padding: 0;
    position: relative;
    align-items: center;
  }

  .nav-items {
    position: relative;
    display: block;
  }

  nav ul {
    padding: 5px 20px 10px 0px;
    position: fixed;
    background: RGB(18, 18, 62);
    height: 35%;
    top: -100%;
    left: 0;
    width: 100%;
    display: block;
    z-index: -1;
    transition: all 0.8s;
    font-size: 1.2rem;
  }

  nav .brand {
    font-size: 3vh;
  }

  nav ul li {
    justify-content: center;
    width: 100%;
    transition: all 0.26s;
    text-align: center;
    border-radius: 5px;
  }

  nav ul li:active {
    color: black;
  }

  nav .buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
  }

  nav .buttons .menu-btn,
  nav .buttons .signup-btn {
    display: block;
    position: relative;
    z-index: 4;
    right: 0;
  }

  nav .buttons .menu-btn i,
  nav .buttons .signup-btn i {
    padding: 0;
    margin: 5px;
    position: relative;
    top: 0;
  }

  nav ul.active {
    top: 80px;
  }
  .nav-items-container {
  flex: 1;
  }
  
}

img {
  
}


/* search  */

























/* ****************** INDEX.CSS ************   */








/*





.first-section{
display:flex;
justify-content:space-around;
margin:23px 0;
}
.first-section > div{
width:36%;
}
.right-section img{
position:relative;
padding:30px 30px 0 0;
margin-left:-50px;
width:400px;
height:400px;
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
user-select: none;
pointer-events:none;
}
.left-section{
font-size:35px;
font-weight:700;
padding:8vh 0;
overflow:hidden;
}
.left-section .name{
color:blueviolet;
}
.left-section .dynamic-text {
height:60px;
line-height:60px;
}
.left-section span{
color:grey;
}
.left-section .dynamic-text{
padding-left:15px;
}
.left-section span{
position:relative;
}
.left-section span:before{
content:"";
position:absolute;
margin-top:4px;
margin-left:4px;
width:100%;
height:100%;
background:RGB(0,0,33);
border-left:5px solid grey;
left:0;
animation:typing 4s steps(12) infinite;
}
@keyframes typing {
  40%, 60%{
  left: calc(100% + 4px);
  }
  100%{
  left: 0%;
  }
}
.right-section{
background:none;
}
.anim-left-section {
display:inline-flex;
}

.second-section > div{
font-size:3vw;
font-weight:700;
}
.second-section .exp{
margin:30px 0;
font-size:35px;

}
.second-section .exp nobr{
color:skyblue;
}

@media (min-width:769px){
.first-section > div{
margin:0 0 0 5px;
}

.second-section{
padding:0 8%;
justify-content:space-around;
margin:0 0 60% 0;
}

.second-section .main-lines-pc{
border:solid white;
border-width:8px 4px 0 4px;
height:8.5vh;
margin:0 8%;
}

.text-pc{
font-size:40px;
position:absolute;
transform:rotate(90deg);
background:rgb(0,0,33);
padding:0 15px;
}
.second-section .img{
position:absolute;
height:170px;
width:170px;
border-radius:5px;
background:transparent;
}
.html{
margin:65px 0 0 -7.3%;
}
.html-img{
margin:195px 0 0 -9.3%;
}
.python{
margin:-140px 0 0 23.8%;
}
.py-text-pc{
font-size:30px;
position:absolute;
transform:rotate(90deg);
background:rgb(0,0,33);
padding:0 10px;
z-index:1;
}
.c-img,.js-img{
position:absolute;
border-radius:5px;
height:120px;
width:120px;
}
.small-line{
position:absolute;
height:50px;
width:4px;
background:white;
}
.line-js{
margin-left:16%;
}
.js-img{
margin:55px 0 0 99px;
}
.django{
margin:97px 0 0 -65px;
}
.django-img{
margin:240px 0 0 -85px;
}
.flask{
margin:50px 0 0 115px;
}
.flask-img{
margin:150px 0 0 87px;
}
.others{
margin:97px 0 0 283px;
}
.others-img{
margin:240px 0 0 260px;
}

.line-c{
top:733px;
margin:0 0 0 50%;
z-index:999;
}
.c-img{
top:795px;
margin:0 0 0 44%;
}
.css{
margin:-398px 0 0 64.5%;
}
.css-img{
margin:-270px 0 0 61.5%;
}
.line-pc{
position:absolute;
background:white;
width:4px;
height:18vh;
top:733px;
border-width:0;
margin-left:32%;
}
.py-lines-pc{
border:solid white;
border-width:4px 4px 0 4px;
height:11vh;
width:50%;
margin:10.82vh 0 0 21.5%;

}
.py-line-items-pc{
position:absolute;


}
.main-lines{
display:none;
}
.search,.search-box,.search-btn,.close-btn{
display:none;
}
}
@media (max-width:768px) {
.first-section{
flex-direction:column;
align-items:center;
}
.first-section > div {
width:80%;
}
.left-section{
margin:-20px 0 0 0;
}
.right-section{
margin:-40px 0 40px 30px;
}
.second-section{
padding-top:20px;
margin:0;
}
.main-lines-pc{
display:none;
}
.second-section .main-lines{
margin:0 0 30px 10px;
border-top:0px;
height:auto;
border-left:4px solid white;
}
.second-section .main-lines .line-items{
padding:20px 0;
align-items:center;
display:flex;
}
.py-lines{
height:auto;
border-left:4px solid white;
}
.line{
height:7px;
width:45%;
padding:10px 0;
border-bottom:3px solid white;
}
.py-li{
width:30%;
}
.py-line-items{
margin:20px 0;
display:flex;
width:auto;
}
.line-items .text{
MARGIN-LEFT:45px;
position:absolute;
font-size:20px;
}
.py-line{
padding:10px 0;
height:7px;
width:100px;
border-bottom:3px solid white;
}
.py-text{
margin:0 0 0 20px;
position:absolute;
}
.second-section img{
height:100px;
width:100px;
}
.arrow{
border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}







.search-btn, .close-btn ,#search_data{
  left:80%;
  width: 40px;
  height: 40px;
  font-size: 25px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  position: absolute;
  transition: all 0.25s ease;
  border-radius:50%;
}

.close-btn {
  color: rgb(255, 83, 26);
  z-index: -1;
}

.search-box {

  position:absolute;
  width: 40px;
  height: 40px;
  left:80%;
  padding: 15px;
  border-radius: 25px;
  background-color: white;
  color: black;
  outline: none;
  border: none;
  transition: all 0.25s ease;
}

.search {
top:100px;
  display: flex;
  position :absolute;
}

.active .search-box {
  width: 86%;
  left:3%;
}

.active .search-btn ,.active #search_data{
  transform: translate(-10px, 1px) scale(0.8);
  background-color: transparent;
}
.active #search_data{
z-index:3;
}

.active .close-btn {
  z-index: 0;
  transform: translate(35px, 0px);
}



}



*/












/* *************SIGNUP.CSS*********************** */






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --mainColor: #89216b;
    --whiteColor: #ffffff;
    --titleColor: #555555;
    --labelColor: #333333;
}

html{
font-size: 62.5%;
    scroll-behavior: smooth;
}
main {
    font-size: 62.5%;
    background: rgb(0,0,33);
    font-weight: 400;
    min-height: 70vh;
    display: grid;
    place-content: center;
    overflow: hidden;
}


.wrapper {
    position: relative;
    width: 35rem;
    height: 54rem;
    
    }

@media(min-width:540px){
    .wrapper{
        width: 40rem;
    }
}

.wrapper .form-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--whiteColor);
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.wrapper .form-container .form h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--titleColor);
}

.wrapper .form-container .form .form-group {
    position: relative;
    width: 32rem;
    margin: 3rem 0;
}
.wrapper .form-container .form .name-wrap{
align-items:center;
height:2rem;
display:flex;
}
.wrapper .form-container .form .name-wrap .name{
width:15rem;

}
.wrapper .form-container .form .name-wrap .lname{

margin-left: 2rem;
}

.wrapper .form-container .form .form-group i,
.wrapper .form-container .form .form-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    text-transform: capitalize;
    color: var(--labelColor);
    padding: 0 .5rem;
    pointer-events: none;
    transition: all .5s ease;
}

.wrapper .form-container .form .form-group i {
    left: .5rem;
}

.wrapper .form-container .form .form-group label {
    left: 2.5rem
}

.wrapper .form-container .form .form-group input {
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    border: .1rem solid var(--labelColor);
    font-size: 1.6rem;
    color: var(--labelColor);
    background: transparent;
}

.form .form-group input:focus~label,
.form .form-group input:valid~label,
.form .form-group input:focus~i,
.form .form-group input:valid~i {
    top: 0 !important;
    font-size: 1.2rem !important;
    background-color: var(--whiteColor);
}

.wrapper .form-container .form .forgot-pass {
    margin: -1.5rem 0 1.5rem;
}

.wrapper .form-container .form .forgot-pass a {
    color: var(--labelColor);
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    transform: all .5s ease;
}

.wrapper .form-container .form .forgot-pass a:hover {
    color: var(--mainColor);
}

.wrapper .form-container .form .btn {
    background: linear-gradient(to right, #da4453, var(--mainColor));
    color: var(--whiteColor);
    text-transform: capitalize;
    width: 100%;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.4);
}

.wrapper .form-container .form .link {
    text-align: center;
    font-size: 1.4rem;
    color: var(--labelColor);
    margin: 2.5rem 0;
}

.wrapper .form-container .form .link a {
    text-transform: capitalize;
    color: var(--mainColor);
    text-decoration: none;
    font-weight: 600;
    transition: all .5s ease;
}

.wrapper .form-container .form .link a:hover {
    color: #da4453;
}

.wrapper .sign-up {
    transform: rotate(7deg);
}

.wrapper.animated-signin .form-container.sign-in {
    animation: signin-flip 1s ease-in-out forwards;
}

@keyframes signin-flip {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.animated-signin .form-container.sign-up {
    animation: rotatecard .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.wrapper.animated-signup .form-container.sign-up {
    animation: signup-flip 1s ease-in-out forwards;
}

@keyframes signup-flip {
    0% {
        transform: translateX(0);
        z-index: 1;
    }

    50% {
        transform: translateX(50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.animated-signup .form-container.sign-in {
    transform: rotate(7deg);
    animation: rotatecard .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}



#checker{
margin:0.75rem 0rem 0.75rem -3rem;
z-index:1000000000000000000000000000000000;
color:black;
position:absolute;
font-size: 2.5rem !important;
}








