{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}
{% load static %}
<!--{% block style %}{% static 'css/signup.css' %}{% endblock style %}-->
{% block body %}
 <div class="sign"> 
 <div class="wrapper">
 <form action="/signup" method="post">
 {% csrf_token %}
 <div class="form-container sign-up">
 
 <div class="form">
 <h2>sign up</h2>
 <div class="form-group">
 <input name="username" type="text">
 <label for="username">username</label>
 <span id="checker" class="fas"></span>
 <i class="fas fa-user"></i>
 </div>
 <div class="name-wrap">
 <div class="form-group name fname">
 <input name="fname" type="text">
 <label for="fname">First Name</label>
 <i class="fas fa-user"></i>
 </div>
 <div class="form-group name lname">
 <input name="lname" type="text">
 <label for="lname">Last Name</label>
 <i class="fas fa-user"></i>
 </div>
 </div>
 <div class="form-group">
 <input name="email" type="email">
 <label for="email">email</label>
 <i class="fas fa-at"></i>
 </div>
 <div class="form-group">
 <input name="pass1" type="password">
 <label for="pass1">password</label>
 <i class="fas fa-lock"></i>
 </div>
 <div class="form-group">
 <input name="pass2" type="password">
 <label for="pass2">confirm password</label>
 <i class="fas fa-lock"></i>
 </div>
 <input name="signup" type="submit" value="sign up" class="btn">
 <div class="link">
 <p>You already have an account?<a href="#" class="signin-link"> sign in</a></p>
 </div>
 </div>
 </div>
 
 <div class="form-container sign-in">
 <div class="form">
 <h2>login</h2>
 <div class="form-group">
 <input name="loginUsername" type="text">
 <i id="user-check" class="fas fa-user"></i>
 <i class="fas fa-user"></i>
 <label for="">username</label>
 </div>
 <div class="form-group">
 <input name="loginPassword" type="password">
 <i class="fas fa-lock"></i>
 <label for="">password</label>
 </div>
 <div class="forgot-pass">
 <a href="#">forgot password?</a>
 </div>
 <input type="submit" name="login" value="login" class="btn">
 <div class="link">
 <p>Don't have an account?<a href="#" class="signup-link"> sign up</a></p>
 </div>
 
 </div>
 </div>
 </form>
 </div>
 </div>
 <script>
 const username = document.getElementById('username');
 username.addEventListner('keyup',function() {
 const usernameInput = username.value;
 const usernameAvailability = document.getElementById('checker');
 console.log(usernameInput);
 if (usernameInput) {
 // Perform an AJAX request to check username availability
 fetch(`/check-user/?username=${usernameInput}`)
 .then(response => response.json())
 .then(data => {
 if (data.is_available) {
 usernameAvailability.innerHTML = '&#10004;';
 console.log('IS_AVAILABLE')  // Display a tick
 } else {
 usernameAvailability.innerHTML = '&#10060;'; 
 console.log('ISnot_AVAILABLE')// Display a cross
 }
 })
 .catch(error => console.error(error));
 } else {
 usernameAvailability.innerHTML = '';
 console.log('Not input') // Clear the availability status
 }
 }
 </script>
<script type="text/javascript">
let wrapper = document.querySelector('.wrapper'),
    signUpLink = document.querySelector('.link .signup-link'),
    signInLink = document.querySelector('.link .signin-link');

signUpLink.addEventListener('click', () => {
    wrapper.classList.add('animated-signin');
    wrapper.classList.remove('animated-signup');
});

signInLink.addEventListener('click', () => {
    wrapper.classList.add('animated-signup');
    wrapper.classList.remove('animated-signin');
});
</script>
{% endblock body %}